<a href="https://colab.research.google.com/github/nptikiran/AdvancMLPractice/blob/main/textAnalytics1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

27. Text Analytics Model Building-ByBhupen

##Natural Language Processing

https://blog.chapagain.com.np/python-nltk-twitter-sentiment-analysis-natural-language-processing-nlp/

In [2]:
# Importing nltk
import nltk

The `twitter_samples` corpus contains 2K movie reviews with sentiment polarity classification. 
 
The `twitter_samples` corpus contains 3 files.

- 1) `negative_tweets.json`: contains 5k negative tweets
- 2) `positive_tweets.json`: contains 5k positive tweets
- 3) `tweets.20150430-223406.json`: contains 20k positive and negative tweets

In [3]:
# If we want any sample dataset then we have to run it and select from corpous(dataset).
# Here choosing twitter_samples & download it
nltk.download('twitter_samples')

[nltk_data] Downloading package twitter_samples to /root/nltk_data...
[nltk_data]   Unzipping corpora/twitter_samples.zip.

True

In [4]:
#Importing all punctuations from string
from string import punctuation
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

Here we can see all the special characters which are punctuation.

In [5]:
# twitter_samples corpous has imported/called
from nltk.corpus import twitter_samples

In [6]:
#Checking for the files in this corpous
twitter_samples.fileids()

['negative_tweets.json', 'positive_tweets.json', 'tweets.20150430-223406.json']

these are the three files in the .json format.(java script object notion)

In [7]:
# call the file(string) 'positive_tweets.json' to process
strings = twitter_samples.strings('positive_tweets.json')

In [8]:
# Using for loop we have call the 'string'.For above we can also write below
for strings in strings[:2]:
   print('\n', strings)

 #FollowFriday @France_Inte @PKuchly57 @Milipol_Paris for being top engaged members in my community this week :)

 @Lamb2ja Hey James! How odd :/ Please call our Contact Centre on 02392441234 and we will be able to assist you :) Many thanks!

In [9]:
# Let's check the length of string
len(strings)

126

In [10]:
# Let's call 0th string and check.
strings[0]

'@'

In [11]:
# Here we are going to tokenize the string.
tweets_tokens_pos = twitter_samples.tokenized('positive_tweets.json')

In [12]:
# Here we call the tokenize string to check
tweets_tokens_pos[0]

['#FollowFriday',
 '@France_Inte',
 '@PKuchly57',
 '@Milipol_Paris',
 'for',
 'being',
 'top',
 'engaged',
 'members',
 'in',
 'my',
 'community',
 'this',
 'week',
 ':)']

In this tokenization each and every punctuation and word are get saperate.
* Tokenisation = breaking the sentences into saperate word.
* POS = part of speech = Noun, adjectives and adverb and verb these are the POS.
* Cleanning = Removing any unwanted parts/characters

In [13]:
#"".join(),join all the character into string
punc = "".join([i for i in punctuation if i not in "!?"])
punc

'"#$%&\'()*+,-./:;<=>@[\\]^_`{|}~'

In [14]:
# join all the character using # as a saperator
mytuple = ('a','b','c')
x = "#".join(mytuple)
print(x)

a#b#c

In [15]:
tweets_tokens_pos[2]

['@DespiteOfficial',
 'we',
 'had',
 'a',
 'listen',
 'last',
 'night',
 ':)',
 'As',
 'You',
 'Bleed',
 'is',
 'an',
 'amazing',
 'track',
 '.',
 'When',
 'are',
 'you',
 'in',
 'Scotland',
 '?',
 '!']

Now we are remove punctuations.select a char which is in tweets_tokens_pos, but not is not in punch and print it.

In [16]:
lst = [char for char in tweets_tokens_pos[2] if char not in punc]
print(lst)

['@DespiteOfficial', 'we', 'had', 'a', 'listen', 'last', 'night', ':)', 'As', 'You', 'Bleed', 'is', 'an', 'amazing', 'track', 'When', 'are', 'you', 'in', 'Scotland', '?', '!']

In [17]:
import re

- regular Expressions = 'Characters',range of characters ,any @[A-Za-z0-9_]+*(\w is [A-Za-z0-9_] It include all alphabates, words, numbers and special characters)
- '+' can't come standalone. It comes with the character followed by it.
- '*' gives all occurances.(same as MYSQL)
- follow @ the new @newu

In [18]:
# for w in lst, regular Expression search for any special character or lower or upper case word
[w for w in lst if re.search('@[A-Za-z0-9_]+',w)]

['@DespiteOfficial']

Above code said that w in lst

In [19]:
#Import stopwords and regular Expresion operations
from nltk.corpus import stopwords 
import re

In [20]:
# Download stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [21]:
# Remove stopwords
stopwords.words('english')[:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [22]:
token_pos_clean=[] # define token_pos_clean empty list
for i in range (0, len(tweets_tokens_pos)):# make for loop for cleaning the data in the 
  lst = [char.lower() for char in tweets_tokens_pos[i] if char not in punc]#remove punctuations
  lst1 = [w for w in lst if not re.search('[@][A-Za-z0-9_]+',w)]
  lst2 = [w for w in lst1 if w not in stopwords.words("english")]
  token_pos_clean.append(lst2)#give output for lst2

For the strings tweets_tokens_pos we have removed punctuations.Then removes stpwords etc. to clean the data.

In [23]:
print(tweets_tokens_pos[1], '\n\n\n',token_pos_clean[1])

['@Lamb2ja', 'Hey', 'James', '!', 'How', 'odd', ':/', 'Please', 'call', 'our', 'Contact', 'Centre', 'on', '02392441234', 'and', 'we', 'will', 'be', 'able', 'to', 'assist', 'you', ':)', 'Many', 'thanks', '!']


 ['hey', 'james', '!', 'odd', ':/', 'please', 'call', 'contact', 'centre', '02392441234', 'able', 'assist', ':)', 'many', 'thanks', '!']

**Now Call Secong string 'negative _tweets.json'**

In [24]:
tweets_tokens_neg = twitter_samples.tokenized('negative_tweets.json')

In [25]:
token_neg_clean = []
for i in range(0, len(tweets_tokens_neg)):
  lst = [char for char in tweets_tokens_neg[i] if char not in punc]
  lst1 = [w for w in lst if not re.search('[@#][A-Za-z0-9_]+',w)]#. means all & * means occurances
  lst2 = [w for w in lst1 if w not in stopwords.words("english")]
  token_neg_clean.append(lst2)

Here also we have remove punctuations, stopwords and convert letters from upper or lower case.

In [26]:
print(tweets_tokens_neg[3],'\n\n\n',token_neg_clean[3])

['“', '@ketchBurning', ':', 'I', 'hate', 'Japanese', 'call', 'him', '"', 'bani', '"', ':(', ':(', '”', 'Me', 'too']


 ['“', 'I', 'hate', 'Japanese', 'call', 'bani', ':(', ':(', '”', 'Me']

##Dictionary DataFrame

In [27]:
labelled_tweets = ([(word, 'pos') for word in token_pos_clean]+[(word,'neg') for word in token_neg_clean])
len(labelled_tweets)

10000

In [28]:
print(labelled_tweets[1])

(['hey', 'james', '!', 'odd', ':/', 'please', 'call', 'contact', 'centre', '02392441234', 'able', 'assist', ':)', 'many', 'thanks', '!'], 'pos')

## Getting all the unique words

In [29]:
words=[]
for i in range(0, len(labelled_tweets)):
  x=labelled_tweets[i][0]#first character of zero terminated string
  for y in x:
    words.append(y.lower())
len(words)

76664

In [30]:
#Unique list of words
word_features = {w for w in words}

In [31]:
len(word_features)

14223

In [32]:
all_words = nltk.FreqDist(w.lower() for w in words)#Counted frequency of words
#all_words

In [33]:
def document_features(document):
  document_words = set(document)
  features = {}
  for word in word_features:
    features['contain({})'.format(word)] = (word in document_words)
    features['count({}'.format(word)] = (document.count(word))
  return features

In [34]:
document_features

In [35]:
labelled_tweets[0]

(['#followfriday', 'top', 'engaged', 'members', 'community', 'week', ':)'],
 'pos')

In [36]:
len(document_features(labelled_tweets[0][0]))

28446

In [37]:
import pandas as pd
pd.DataFrame(document_features(labelled_tweets[0][0]),index=[0])

   contain(realise)  count(realise  ...  contain(915)  count(915
0             False              0  ...         False          0

[1 rows x 28446 columns]

In [38]:
#feature_sets=[]
#labelled_tweets(tweet, category)
#for (d,c) in labelled_tweets[0][0]:
#  x = document_features(d)
#  feature_sets.append(((x, c)))

In [39]:
feature_sets[0]

NameError: ignored

In [ ]:
import random
random.shuffle(feature_sets)

In [ ]:
feature_sets[0]

In [ ]:
train_set, test_set = feature_sets[300:1000], feaure_sets[:300]

In [ ]:
classifier = nltk.NaiveBayesClassifier.train(train_set)

In [ ]:
print(nltk.classify.accuracy(classifier,test_set))

In [ ]:
print(classifier.show_most_informative_features(20))

In [ ]:
##test existing tweet
test_tweet = 'thats not a lovely day!'
word_tweet = test_tweet.split()
print(word_tweet)

In [ ]:
#Clean tweet
lst = [char for char in word_tweet if char not in punctuation]
lst1 = [ w for w in lst if not re.search('[@#][A-Za-z0-9_]+|(\w+:\/\/\S+)',w)]
clean_tweet = [w for w in lst1 if w not in stopwords.words("english")]
clean_tweet

In [ ]:
#Feature document_features(tweet)
tweet_feature = document_features(clean_tweet)

In [ ]:
#Classify
classifier.classify(tweet_feature)

In [ ]:
sen = " ".join(clean_tweet)

In [ ]:
from textblob import textblob

In [ ]:
analysis = textblob(test_tweet)
#set sentiment
if analysis.sentiment.polarity > 0:
  print('Positive')
elif analysis.sentiment.polarity == 0:
  print('Neutral')
else:
  print('Negative')

In [ ]:
analysis.sentiment.polarity

With referance to :- https://blog.chapagain.com.np/python-nltk-twitter-sentiment-analysis-natural-language-processing-nlp/

In [49]:
from random import shuffle
shuffle(token_neg_clean)
shuffle(token_pos_clean)

In [42]:
len(labelled_tweets)

10000

In [51]:
#train_set, test_set = labelled_tweets[3000:10000],labelled_tweets[:3000]

train_set = token_pos_clean[1000:] + token_neg_clean[1000:] 
test_set = token_pos_clean[:1000] + token_neg_clean[:1000] 
len(train_set),len(test_set)

(8000, 2000)

In [52]:
from nltk import classify
from nltk import NaiveBayesClassifier

In [54]:
classifier = NaiveBayesClassifier.train(train_set)

ValueError: ignored

In [55]:
for featureset, label in labeled_featuresets:
           label_freqdist[label] += 1
           for fname, fval in featureset.items()

SyntaxError: ignored